#redes {
    margin-bottom: 30px;
  }
  
  #redes ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
  }
  
  #redes ul li {
    padding: 2rem 1rem;
    font-size: 0.8rem;
    font-weight: 800;
  }
  
  #redes ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--preto-principal);
  }
  
  #redes ul li a i {
    font-size: 2.5rem;
  }
  
  #redes ul li a p {
    margin-top: 5px;
  }
  
  #redes ul li a:hover {
    color: var(--lilas);
  }
  
  .section-subtitle {
    margin: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  form input, form textarea {
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid var(--lilas);
    border-radius: 10px;
    background-color: #EFEBFA;
    color: var(--branco);
    outline: none;
  }
  
  #message {
    height: 120px;
  }
  
  #btn-form {
    /*width: 240px;*/
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: var(--lilas);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--branco);
    cursor: pointer;
  }
  
  #btn-form:hover {
    background-color: var(--branco);
    color: var(--lilas);
  }