#resumo-sobremim {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background-color: var(--lilas);
    padding: 1rem 1rem 2rem 1rem;
    margin: 2rem auto 0 auto;
    border-radius: 10px;
  }
  
  #foto-perfil {
    max-width: 55vh;
    margin-bottom: 30px;
  }
  
  #foto-perfil img {
    width: 100%;
  }
  
  .info p {
    margin-bottom: 25px;
    max-width: 80vw;
    text-align: justify;
    text-indent: 1rem;
  }
  
  .techs-card {
    width: 90vw;
    height: 70px;
    
  }
  
  .destaque {
    color: var(--roxo);
  }
  
  .card-descricao ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-descricao .icon-techs {
    display: flex;
    align-items: center;
   
  }
  
  .card-descricao .icon-techs i{
    font-size: 2.5rem;
    color: var(--roxo);
    margin: 0 10px 5px 0;
  }

  .card-descricao .icon-techs img {
    width: 30px;
    margin-right: 10px;
  }
  
  .icon-techs p strong {
    color: var(--preto-principal);
    font-size: 1.1rem;
  }